<%= render 'layouts/header' %>
<body>

<div class="jumbotron">
   <div class="container">
     <h1>Analy</h1>
     <p>Easy to chord progression analyse</p>
     <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Learn more »</a>
   </div>
 </div>
</body>
