<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
  <div class="col-md-12">
<h1>New Score</h1>

<%= render 'form', score: @score %>

<%= link_to 'Back', scores_path, class: 'btn btn-default' %>

  </div>
  </div>
</div>
