<%= render 'layouts/header' %>

<div class="container-fluid masonry-container">
  <div class="row">
    <div class="col-md-8 col-sm-offset-2">
      <div class="masonry-wrapper-cols">
        <%= @user %>


      </div>
    </div>
  </div>
</div>
