/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


body {
   padding-top: 70px;
 }
header-under{
  height: 70px;
  width: 100%;

 }

 textarea {
  width: 400px;
  height: 400px;
}

 h1{
   padding-top: 0px;
   padding-bottom: 10px;
 }

 td {
   padding-bottom: 15px;
   padding-right: 20px;
 }

 .jumbotron h1,
 .jumbotron .h1 {
   color: #FFF;
 }
 .jumbotron h2,
 .jumbotron .h2 {
   color: #FFF;
 }
 .jumbotron p {
   color: #FFF;
 }
 .jumbotron {
   background:url(main.jpg) center no-repeat;
   background-size: cover;
   height: 100vh;

 }

 navbar-center{
   margin-left: auto;
 }
